Homechallenge4/node-REDclipboard.txt
[{"id":"dab97ed5.df20c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75fa22cd.5843cc","type":"file in","z":"dab97ed5.df20c","name":"Read CSV File","filename":"/home/user/Desktop/Submission4/traffic.csv","format":"lines","chunk":false,"sendError":false,"x":420,"y":300,"wires":[["9da57030.1932d","2b256f4.f6c729"]]},{"id":"9da57030.1932d","type":"switch","z":"dab97ed5.df20c","name":"Publish message filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"Publish Message","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":300,"wires":[["10eed4f1.7e1e9b","8ebb7110.606898"]]},{"id":"936348d1.5f0db","type":"inject","z":"dab97ed5.df20c","name":"Start","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":300,"wires":[["75fa22cd.5843cc"]]},{"id":"8ebb7110.606898","type":"switch","z":"dab97ed5.df20c","name":"Topic 2 condition","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/hydraulic_valve","vt":"str"},{"t":"cont","v":"factory/department3/section3/hydraulic_valve","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":380,"wires":[["2c31489b.cab8f8","3ef13d80.a37e62"],["2c31489b.cab8f8","3ef13d80.a37e62"]]},{"id":"2c31489b.cab8f8","type":"debug","z":"dab97ed5.df20c","name":"msg.payload condition ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1030,"y":520,"wires":[]},{"id":"2b256f4.f6c729","type":"debug","z":"dab97ed5.df20c","name":"msg.payload CSV ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":140,"wires":[]},{"id":"10eed4f1.7e1e9b","type":"switch","z":"dab97ed5.df20c","name":"Topic 1 condition","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"factory/department1/section1/plc","vt":"str"},{"t":"cont","v":"factory/department3/section3/plc","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":260,"wires":[["a2270712.815028","8c67dc2a.c5cee"],["a2270712.815028","8c67dc2a.c5cee"]]},{"id":"a2270712.815028","type":"debug","z":"dab97ed5.df20c","name":"msg.payload condition","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":160,"wires":[]},{"id":"8c67dc2a.c5cee","type":"csv","z":"dab97ed5.df20c","name":"csv formatting object","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1180,"y":260,"wires":[["41dc836.df0b37c"]]},{"id":"41dc836.df0b37c","type":"split","z":"dab97ed5.df20c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1390,"y":260,"wires":[["55cc2310.82482c"]]},{"id":"55cc2310.82482c","type":"switch","z":"dab97ed5.df20c","name":"Regex condition to extract payload","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[0-9a-f]{20,}","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":260,"wires":[["da2182e3.6ea708"]]},{"id":"da2182e3.6ea708","type":"function","z":"dab97ed5.df20c","name":"Hex to Dec","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":260,"wires":[["baffd185.121988","b3e56073.895bd8"]]},{"id":"baffd185.121988","type":"debug","z":"dab97ed5.df20c","name":"msg.payload verifying convertion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1770,"y":160,"wires":[]},{"id":"b3e56073.895bd8","type":"json","z":"dab97ed5.df20c","name":"","property":"payload","action":"","pretty":false,"x":2030,"y":260,"wires":[["afe74386.e1a85"]]},{"id":"afe74386.e1a85","type":"function","z":"dab97ed5.df20c","name":"Accessing value field1","func":"msg.payload = msg.payload.value;\nmsg.topic= 'field1';\nreturn msg;","outputs":1,"noerr":0,"x":2220,"y":260,"wires":[["2c77fc02.c2c5ac","f79b3fd9.3985f"]]},{"id":"2c77fc02.c2c5ac","type":"debug","z":"dab97ed5.df20c","name":"msg.payload value field1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2350,"y":140,"wires":[]},{"id":"7b9230db.9a7398","type":"mqtt out","z":"dab97ed5.df20c","name":"ThingsMQTT","topic":"channels/1065976/publish/MLNYHZWWBZNAY83A","qos":"0","retain":"","broker":"aee117e1.03de78","x":3350,"y":320,"wires":[]},{"id":"3ef13d80.a37e62","type":"csv","z":"dab97ed5.df20c","name":"csv formatting object","sep":" ","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":1180,"y":380,"wires":[["a10d381b.aa6458"]]},{"id":"a10d381b.aa6458","type":"split","z":"dab97ed5.df20c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1390,"y":380,"wires":[["e0776dda.cd44f"]]},{"id":"e0776dda.cd44f","type":"switch","z":"dab97ed5.df20c","name":"Regex condition to extract payload","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"[0-9a-f]{20,}","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":1620,"y":380,"wires":[["f786817f.55e9b"]]},{"id":"f786817f.55e9b","type":"function","z":"dab97ed5.df20c","name":"Hex to Dec","func":"msg.payload = Buffer.from(msg.payload, 'hex').toString();\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":380,"wires":[["5652aca6.669034","4f13783b.736c4"]]},{"id":"5652aca6.669034","type":"json","z":"dab97ed5.df20c","name":"","property":"payload","action":"","pretty":false,"x":2030,"y":380,"wires":[["a96c5907.773d68"]]},{"id":"a96c5907.773d68","type":"function","z":"dab97ed5.df20c","name":"Accessing value field2","func":"msg.payload = msg.payload.value;\nmsg.topic= 'field2';\nreturn msg;","outputs":1,"noerr":0,"x":2220,"y":380,"wires":[["af9fb9ae.1ab51","e9464ada.4bc748"]]},{"id":"af9fb9ae.1ab51","type":"debug","z":"dab97ed5.df20c","name":"msg.payload value field2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2390,"y":500,"wires":[]},{"id":"f79b3fd9.3985f","type":"template","z":"dab97ed5.df20c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}}={{payload}}","output":"str","x":2460,"y":260,"wires":[["418efa02.dc53ec"]]},{"id":"e9464ada.4bc748","type":"template","z":"dab97ed5.df20c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{topic}}={{payload}}","output":"str","x":2480,"y":380,"wires":[["3c561866.79eb7"]]},{"id":"228638e7.57de3","type":"debug","z":"dab97ed5.df20c","name":"msg.payload verfying join ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":3030,"y":420,"wires":[]},{"id":"418efa02.dc53ec","type":"delay","z":"dab97ed5.df20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2740,"y":260,"wires":[["68263861.341f"]]},{"id":"68263861.341f","type":"join","z":"dab97ed5.df20c","name":"join between value field1 - value field2","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"&","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3070,"y":320,"wires":[["228638e7.57de3","7b9230db.9a7398"]]},{"id":"3c561866.79eb7","type":"delay","z":"dab97ed5.df20c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2720,"y":380,"wires":[["68263861.341f"]]},{"id":"4f13783b.736c4","type":"debug","z":"dab97ed5.df20c","name":"msg.payload verifying convertion","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2040,"y":500,"wires":[]},{"id":"aee117e1.03de78","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
